@model CarRentalPriceDTO

<script>

    var carModels;

    $(() => {

        $(document).ready(() => {
            $('#modal_form_horizontal').modal('show');

            $('#modal_form_horizontal').on('hidden.bs.modal', (e) => window.location.href = '@Url.Action("Cancel")');

            $('.form-horizontal').validate({
                ignore: 'input[type=hidden], .select2-search__field', // ignore hidden fields
                errorClass: 'validation-invalid-label',
                successClass: 'validation-valid-label',
                validClass: 'validation-valid-label',
                highlight: function (element, errorClass) {
                    $(element).removeClass(errorClass);
                },
                unhighlight: function (element, errorClass) {
                    $(element).removeClass(errorClass);
                },
                errorPlacement: function (error, element) {
                    if (element.hasClass('select2-hidden-accessible') && element.next('.select2-container').length) {
                        error.insertAfter(element.next('.select2-container'));
                    }
                    else {
                        error.insertAfter(element);
                    }
                },
                rules: {
                    CarId: {
                        required: true
                    },
                    StartDateStr: {
                        required: true
                    },
                    EndDateStr: {
                        required: true
                    },
                    RentPrice: {
                        required: true
                    }
                },
                messages: {
                    CarId: {
                        required: "Bu alan boş bırakılamaz."
                    },
                    StartDateStr: {
                        required: "Bu alan boş bırakılamaz."
                    },
                    EndDateStr: {
                        required: "Bu alan boş bırakılamaz."
                    },
                    RentPrice: {
                        required: "Bu alan boş bırakılamaz."
                    }
                }
            });

            $('.btn-success').on('click', (e) => fillDateInputs());

            fillDateInputs = () => {
                var startDateStrValue = $('#StartDateStr').val();
                var endDateStrValue = $('#EndDateStr').val();

                if (startDateStrValue == '')
                    $('#StartDate').val('');
                else
                    $('#StartDate').val(moment(startDateStrValue, 'DD.mm.yy').format('YYYY-mm-DD'));

                if (endDateStrValue == '')
                    $('#EndDate').val('');
                else
                    $('#EndDate').val(moment(endDateStrValue, 'DD.mm.yy').format('YYYY-mm-DD'));
            };
        });

    });
</script>

<!-- Horizontal form modal -->
<div id="modal_form_horizontal" class="modal fade" data-keyboard="false" data-backdrop="static" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"><i class="icon-pencil7 mr-2"></i>Kayıt Düzenle</h5>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            @using (Html.BeginForm("Update", "CarRentalPrice", FormMethod.Post, new { @class = "form-horizontal" }))
            {
                <div class="modal-body">
                    <div class="form-group row p-2">
                        <div class="col-sm-12">
                            @Html.LabelFor(x => x.PlateNumber)
                            @Html.DropDownListFor(x => x.CarId, Model.Cars.Select(x => new SelectListItem() { Text = x.PlateNumber, Value = x.Id.ToString() }), string.Empty, new { data_placeholder = "Kayıt seçiniz...", @class = "form-control car-select select", data_fouc = "data-fouc" })
                        </div>
                    </div>
                    <div class="form-group row p-2">
                        <div class="col-sm-12">
                            @Html.LabelFor(x => x.StartDateStr)
                            @Html.TextBoxFor(x => x.StartDateStr, new { placeholder = "Tarih seçiniz...", @class = "form-control startDate-daterange daterange-single" })
                            @Html.HiddenFor(x => x.StartDate)
                        </div>
                    </div>
                    <div class="form-group row p-2">
                        <div class="col-sm-12">
                            @Html.LabelFor(x => x.EndDateStr)
                            @Html.TextBoxFor(x => x.EndDateStr, new { placeholder = "Tarih seçiniz...", @class = "form-control endDate-daterange daterange-single-second" })
                            @Html.HiddenFor(x => x.EndDate)
                        </div>
                    </div>
                    <div class="form-group row p-2">
                        <div class="col-sm-12">
                            @Html.LabelFor(x => x.RentPrice)
                            @Html.TextBoxFor(x => x.RentPrice, new { @type = "number", placeholder = "Fiyat giriniz...", @class = "form-control rentPrice-input", required = "required" })
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <a href="@Url.Action("Cancel")" class="btn btn-outline-danger" data-dismiss="modal"><i class="icon-cancel-square2 mr-2"></i> İptal</a>
                    <button type="submit" class="btn btn-success"><i class="icon-floppy-disk mr-2"></i> Kaydet</button>
                </div>
            }
        </div>
    </div>
</div>
<!-- /horizontal form modal -->