@model FiloViewModel
<section class="section-padding car-booking">
    <div class="container">
        <div class="section-header text-center">
            <div class="section-heading">
                <h3 class="text-custom-black">Araç <span class="text-custom-blue">Filomuz</span></h3>
                <div class="section-description">
                    <p class="text-light-dark">Farklı marka ve modellerle, ihtiyacınızı karşılayacak geniş araç filomuzla tanışın. Farkı derinlemesine hissedeceksiniz.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="car-slider arrow-layout-2 row">
                    @if (Model.carViewModels.Count == 0)
                    {
                        <div class="col-12 text-center text-custom-black fs-16 fw-600 text-capitalize">Görüntülenecek araç bulunamamıştır.</div>
                    }
                    else
                    {
                        @foreach (var carViewModel in Model.carViewModels)
                        {
                            <div class="slide-item col-12">
                                <div class="car-grid">
                                    <div class="car-grid-wrapper car-grid bx-wrapper">
                                        <div class="image-sec animate-img"> <img src="/images/@carViewModel.ImageUrl" class="full-width" alt="img"> </div>
                                        <div class="car-grid-caption padding-20 bg-custom-white p-relative">
                                            <h4 class="title fs-16"><span class="text-custom-black">@carViewModel.CarClassName<small class="text-light-dark">@carViewModel.CarChassisTypeName</small></span></h4>
                                            <span class="price">
                                                <small>Günlük</small>
                                                @if (carViewModel.CarRentalPrice == 0)
                                                {
                                                    <span class="text-capitalize fs-16">Fiyat sorunuz</span>
                                                }
                                                else
                                                {
                                                    @carViewModel.CarRentalPrice.ToString("#.## ₺")
                                                }
                                            </span>
                                            <div class="hotel-type mb-xl-20">
                                                @*<ul class="custom">
                                                        <li class="text-light-dark">
                                                            @carViewModel.CarBrandName
                                                        </li>
                                                        <li class="text-light-dark">
                                                            @carViewModel.CarModelName
                                                        </li>
                                                        <li class="text-light-dark">
                                                            @carViewModel.CarFuelTypeName
                                                        </li>
                                                        <li class="text-light-dark">
                                                            @carViewModel.CarGearTypeName
                                                        </li>
                                                        <li class="text-light-dark">
                                                            @carViewModel.TotalKm
                                                        </li>
                                                        <li class="text-light-dark">
                                                            @carViewModel.AgeLimit
                                                        </li>
                                                    </ul>*@
                                                <ul class="custom">
                                                    <li class="text-light-dark mb-2">
                                                        <div class="row">
                                                            <div class="col-5 pr-0">
                                                                <i class="icon-grid-alt mr-2"></i><span class="text-custom-black fw-600">Araç Markası</span>
                                                            </div>
                                                            <div class="col-7 pl-0">
                                                                <span class="mr-3">:</span>@carViewModel.CarBrandName
                                                            </div>
                                                        </div>
                                                    </li>
                                                    <li class="text-light-dark mb-2">
                                                        <div class="row">
                                                            <div class="col-5 pr-0">
                                                                <i class="icon-steering-wheel mr-2"></i><span class="text-custom-black fw-600">Araç Modeli</span>
                                                            </div>
                                                            <div class="col-7 pl-0">
                                                                <span class="mr-3">:</span>@carViewModel.CarModelName
                                                            </div>
                                                        </div>
                                                    </li>
                                                    <li class="text-light-dark mb-2">
                                                        <div class="row">
                                                            <div class="col-5 pr-0">
                                                                <i class="icon-gas mr-2"></i><span class="text-custom-black fw-600">Yakıt Türü</span>
                                                            </div>
                                                            <div class="col-7 pl-0">
                                                                <span class="mr-3">:</span>@carViewModel.CarFuelTypeName
                                                            </div>
                                                        </div>
                                                    </li>
                                                    <li class="text-light-dark mb-2">
                                                        <div class="row">
                                                            <div class="col-5 pr-0">
                                                                <i class="icon-cogs mr-2"></i><span class="text-custom-black fw-600">Vites Türü</span>
                                                            </div>
                                                            <div class="col-7 pl-0">
                                                                <span class="mr-3">:</span>@carViewModel.CarGearTypeName
                                                            </div>
                                                        </div>
                                                    </li>
                                                    <li class="text-light-dark mb-2">
                                                        <div class="row">
                                                            <div class="col-5 pr-0">
                                                                <i class="icon-meter-fast mr-2"></i><span class="text-custom-black fw-600">Toplam KM</span>
                                                            </div>
                                                            <div class="col-7 pl-0">
                                                                <span class="mr-3">:</span>@carViewModel.TotalKm
                                                            </div>
                                                        </div>
                                                    </li>
                                                    <li class="text-light-dark mb-2">
                                                        <div class="row">
                                                            <div class="col-5 pr-0">
                                                                <i class="icon-height mr-2"></i><span class="text-custom-black fw-600">Yaş Sınırı</span>
                                                            </div>
                                                            <div class="col-7 pl-0">
                                                                <span class="mr-3">:</span>@carViewModel.AgeLimit
                                                            </div>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                            <span><button class="btn-first btn-submit full-width btn-height text-capitalize btnReservation">Rezerve Edin</button></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    var reservationButton;

    $(function () {

        $(document).ready(function () {
            init();
        });

        function init() {
            reservationButton = $('.btnReservation');

            $(reservationButton).on('click', reservationButton_onClick);
        }

        function reservationButton_onClick(e) {
            event.preventDefault();
            $('html, body').animate({ scrollTop: 350 }, "slow");
            return false;
        }

    });
</script>