@model MostPreferedCarViewModel
<section class="section-padding about-us">
    <div class="container">
        <div class="row">
            <div class="col-xl-7 col-lg-6 pl-2 pr-2 align-self-center text-left">
                <div class="about-left-side mb-md-80">
                    <div class="section-header style-left">
                        <div class="section-heading">
                            <h5><span class="text-custom-blue">En Çok Tercih Edilen</span></h5>
                            <h3>@Model.CarBrandName <span class="text-custom-blue">@Model.CarModelName</span></h3>
                            <div class="section-description">
                                @if (Model.CarRentalPrice == 0)
                                {
                                    <div class="car-price"> <strong>Fiyat Sorunuz</strong> <span>/Günlük</span> </div>
                                }
                                else
                                {
                                    <div class="car-price"> <strong>@Model.CarRentalPrice.ToString("#.## ₺")</strong> <span>/Günlük</span> </div>
                                }
                            </div>
                        </div>
                    </div>
                    <p class="pt-2">@Model.Description</p>
                    <a href="@Url.Action("Index","Vehicle")" class="btn-first btn-submit">Tüm Araçlara Gözatın</a>
                </div>
            </div>
            <div class="col-xl-5 col-lg-6">
                <div class="about-right-side full-height">
                    <div class="about-img full-height"> <img src="/images/@Model.ImageUrl" class="img-fluid image-fit recommended-car-image-fit" alt="img"> </div>
                </div>
            </div>
        </div>
    </div>
</section>