@model ContractDTO

<script>
        $(() => {

            $(document).ready(() => {
                $('#modal_form_horizontal').modal('show');

                $('#modal_form_horizontal').on('hidden.bs.modal', (e) => window.location.href = '@Url.Action("Cancel")');
            });

        })
</script>

<!-- Horizontal form modal -->
<div id="modal_form_horizontal" class="modal fade" data-keyboard="false" data-backdrop="static" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"><i class="icon-file-text3 mr-2"></i>Sözleşme Detayları</h5>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <div class="modal-body">
                @Html.HiddenFor(x => x.Id)
                <div class="form-group row p-2">
                    <div class="col-sm-4 mb-2 mb-sm-0 mb-md-0 mb-lg-0 mb-xl-0">
                        @Html.LabelFor(x => x.ReservationCode)
                        @Html.TextBoxFor(x => x.ReservationCode, new { placeholder = "Kayıt giriniz...", @class = "form-control", @readonly = "readonly" })
                    </div>
                    <div class="col-sm-4">
                        @Html.LabelFor(x => x.TotalPrice)
                        @Html.TextBoxFor(x => x.TotalPrice, "{0:#.## ₺}", new { placeholder = "Kayıt giriniz...", @class = "form-control", @readonly = "readonly" })
                    </div>
                    <div class="col-sm-4">
                        @Html.LabelFor(x => x.HasPaid)
                        @if (Model.HasPaid)
                        {
                            <input class="form-control" readonly="readonly" id="HasPaid" name="HasPaid" placeholder="Kayıt giriniz..." type="text" value="Evet">
                        }
                        else
                        {
                            <input class="form-control" readonly="readonly" id="HasPaid" name="HasPaid" placeholder="Kayıt giriniz..." type="text" value="Hayır">
                        }
                    </div>
                </div>
                <div class="form-group row p-2">
                    <div class="col-sm-4 mb-2 mb-sm-0 mb-md-0 mb-lg-0 mb-xl-0">
                        @Html.LabelFor(x => x.PlateNumber)
                        @Html.TextBoxFor(x => x.PlateNumber, new { placeholder = "Kayıt giriniz...", @class = "form-control", @readonly = "readonly" })
                    </div>
                    <div class="col-sm-4">
                        @Html.LabelFor(x => x.CarBrandName)
                        @Html.TextBoxFor(x => x.CarBrandName, new { placeholder = "Kayıt giriniz...", @class = "form-control", @readonly = "readonly" })
                    </div>
                    <div class="col-sm-4">
                        @Html.LabelFor(x => x.CarModelName)
                        @Html.TextBoxFor(x => x.CarModelName, new { placeholder = "Kayıt giriniz...", @class = "form-control", @readonly = "readonly" })
                    </div>
                </div>
                <div class="form-group row p-2">
                    <div class="col-sm-4 mb-2 mb-sm-0 mb-md-0 mb-lg-0 mb-xl-0">
                        @Html.LabelFor(x => x.StartDate)
                        @Html.TextBoxFor(x => x.StartDate, "{0:dd.MM.yyyy HH:mm:ss}", new { placeholder = "Kayıt giriniz...", @class = "form-control", @readonly = "readonly" })
                    </div>
                    <div class="col-sm-4">
                        @Html.LabelFor(x => x.PlanedEndDate)
                        @Html.TextBoxFor(x => x.PlanedEndDate, "{0:dd.MM.yyyy HH:mm:ss}", new { placeholder = "Kayıt giriniz...", @class = "form-control", @readonly = "readonly" })
                    </div>
                    <div class="col-sm-4">
                        @Html.LabelFor(x => x.EndDate)
                        @if (Model.EndDate.HasValue)
                        {
                            @Html.TextBoxFor(x => x.EndDate.Value, "{0:dd.MM.yyyy HH:mm:ss}", new { placeholder = "Kayıt giriniz...", @class = "form-control", @readonly = "readonly" })
                        }
                        else
                        {
                            <input class="form-control" readonly="readonly" id="EndDate" name="EndDate" placeholder="Kayıt giriniz..." type="text" value="Henüz teslim edilmedi">
                        }
                    </div>
                </div>
                <div class="form-group row p-2">
                    <div class="col-sm-6 mb-2 mb-sm-0 mb-md-0 mb-lg-0 mb-xl-0">
                        @Html.LabelFor(x => x.CustomerName)
                        @Html.TextBoxFor(x => x.CustomerName, new { placeholder = "Kayıt giriniz...", @class = "form-control", @readonly = "readonly" })
                    </div>
                    <div class="col-sm-6">
                        @Html.LabelFor(x => x.CustomerSurname)
                        @Html.TextBoxFor(x => x.CustomerSurname, new { placeholder = "Kayıt giriniz...", @class = "form-control", @readonly = "readonly" })
                    </div>
                </div>
                <div class="form-group row p-2">
                    <div class="col-sm-6 mb-2 mb-sm-0 mb-md-0 mb-lg-0 mb-xl-0">
                        @Html.LabelFor(x => x.CustomerEmailAddress)
                        @Html.TextBoxFor(x => x.CustomerEmailAddress, new { placeholder = "Kayıt giriniz...", @class = "form-control", @readonly = "readonly" })
                    </div>
                    <div class="col-sm-6">
                        @Html.LabelFor(x => x.CustomerCellNumber)
                        @Html.TextBoxFor(x => x.CustomerCellNumber, new { placeholder = "Kayıt giriniz...", @class = "form-control", @readonly = "readonly" })
                    </div>
                </div>

                <div class="form-group row p-2">
                    <div class="col-sm-6 mb-2 mb-sm-0 mb-md-0 mb-lg-0 mb-xl-0">
                        @Html.LabelFor(x => x.EmailSent)
                        @if (Model.EmailSent)
                        {
                            <input class="form-control" readonly="readonly" id="EmailSent" name="EmailSent" placeholder="Kayıt giriniz..." type="text" value="Evet">
                        }
                        else
                        {
                            <input class="form-control" readonly="readonly" id="EmailSent" name="EmailSent" placeholder="Kayıt giriniz..." type="text" value="Hayır">
                        }
                    </div>
                    <div class="col-sm-6">
                        @Html.LabelFor(x => x.EmailSentDate)
                        @if (!Model.EmailSentDate.HasValue)
                        {
                            <input class="form-control" readonly="readonly" id="EmailSentDate" name="EmailSentDate" placeholder="Kayıt giriniz..." type="text" value="E-Posta gönderim tarihi bulunmuyor">
                        }
                        else
                        {
                            <input class="form-control" readonly="readonly" id="EmailSentDate" name="EmailSentDate" placeholder="Kayıt giriniz..." type="text" value="@Model.EmailSentDate.Value.ToString("dd.MM.yyyy HH:mm:ss")">
                        }
                    </div>
                </div>
                <div class="form-group row p-2">
                    <div class="col-sm-12">
                        @Html.LabelFor(x => x.EmailTemplate)
                        @if (string.IsNullOrEmpty(Model.EmailTemplate))
                        {
                            <textarea rows="1" class="form-control" readonly="readonly" id="EmailTemplate" name="EmailTemplate" placeholder="Kayıt giriniz..." type="text">E-Posta içeriği bulunmuyor</textarea>
                        }
                        else
                        {
                            @Html.TextAreaFor(x => x.EmailTemplate, new { rows = "10", placeholder = "Kayıt giriniz...", @class = "form-control", @readonly = "readonly" })
                        }
                    </div>
                </div>
                <div class="form-group row p-2">
                    <div class="col-sm-6 mb-2 mb-sm-0 mb-md-0 mb-lg-0 mb-xl-0">
                        @Html.LabelFor(x => x.ContractCompleted)
                        @if (Model.ContractCompleted.HasValue)
                        {
                            @if (Model.ContractCompleted.Value)
                            {
                                <input class="form-control" readonly="readonly" id="ContractCompleted" name="ContractCompleted" placeholder="Kayıt giriniz..." type="text" value="Tamamlandı">
                            }
                            else
                            {
                                <input class="form-control" readonly="readonly" id="ContractCompleted" name="ContractCompleted" placeholder="Kayıt giriniz..." type="text" value="Kirada">
                            }
                        }
                        else
                        {
                            <input class="form-control" readonly="readonly" id="ContractCompleted" name="ContractCompleted" placeholder="Kayıt giriniz..." type="text" value="Henüz başlamadı">
                        }
                    </div>
                    <div class="col-sm-6">
                        @Html.LabelFor(x => x.ContractCompletedDate)
                        @if (!Model.ContractCompletedDate.HasValue)
                        {
                            <input class="form-control" readonly="readonly" id="ContractCompletedDate" name="ContractCompletedDate" placeholder="Kayıt giriniz..." type="text" value="Henüz tamamlanmadı">
                        }
                        else
                        {
                            @Html.TextBoxFor(x => x.ContractCompletedDate.Value, "{0:dd.MM.yyyy HH:mm:ss}", new { placeholder = "Kayıt giriniz...", @class = "form-control", @readonly = "readonly" })
                        }
                    </div>
                </div>
                <div class="form-group row p-2">
                    <div class="col-sm-12 mb-2 mb-sm-0 mb-md-0 mb-lg-0 mb-xl-0">
                        @Html.LabelFor(x => x.PaymentTypeName)
                        @Html.TextBoxFor(x => x.PaymentTypeName, new { placeholder = "Kayıt giriniz...", @class = "form-control", @readonly = "readonly" })
                    </div>
                </div>
                <div class="form-group row p-2">
                    <div class="col-sm-12 mb-2 mb-sm-0 mb-md-0 mb-lg-0 mb-xl-0">
                        @Html.LabelFor(x => x.CardOwnerName)
                        @Html.TextBoxFor(x => x.CardOwnerName, new { placeholder = "Kayıt giriniz...", @class = "form-control", @readonly = "readonly" })
                    </div>
                </div>
                <div class="form-group row p-2">
                    <div class="col-sm-4 mb-2 mb-sm-0 mb-md-0 mb-lg-0 mb-xl-0">
                        @Html.LabelFor(x => x.CardNumber)
                        <input class="form-control" readonly="readonly" id="CardNumber" name="CardNumber" placeholder="Kayıt giriniz..." type="text" value="**** **** **** ****">
                    </div>
                    <div class="col-sm-4">
                        @Html.LabelFor(x => x.CardValidDate)
                        <input class="form-control" readonly="readonly" id="CardValidDate" name="CardValidDate" placeholder="Kayıt giriniz..." type="text" value="**/**">
                    </div>
                    <div class="col-sm-4">
                        @Html.LabelFor(x => x.CardCvv)
                        <input class="form-control" readonly="readonly" id="CardCvv" name="CardCvv" placeholder="Kayıt giriniz..." type="text" value="***">
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <a href="@Url.Action("Cancel")" class="btn btn-outline-danger" data-dismiss="modal"><i class="icon-cancel-square2 mr-2"></i> Kapat</a>
            </div>
        </div>
    </div>
</div>
<!-- /horizontal form modal -->