@{
    string controllerName = this.ViewContext.RouteData.Values["controller"].ToString();
}
<header class="header">
    <div class="navigation-wrapper bg-red">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav>
                        <div class="main-navigation">
                            <div class="logo"> <a href="@Url.Action("Index")"> <img src="~/lib/Template/assets/images/ilya-logo.png" class="img-fluid" alt="logo"> </a> </div>
                            <div class="main-menu">
                                <ul class="custom-flex">
                                    <li class="menu-item @(string.IsNullOrEmpty(controllerName) || controllerName == "Home" ? "active" : string.Empty)"> <a href="@Url.Action("Index","Home")">Rezervasyon</a> </li>
                                    <li class="menu-item menu-item-has-children @(controllerName == "Vehicle" ? "active" : string.Empty)">
                                        <a href="#">Araçlar</a>
                                        <ul class="submenu custom">
                                            <li class="menu-item"> <a href="@Url.Action("Index","Vehicle")">Tüm Kiralık Araçlar</a> </li>
                                            <li class="menu-item"> <a href="@Url.Action("Index","Vehicle",new { carClassName = Enum.GetName(typeof(CarClassEnum),CarClassEnum.Ekonomik) })">Ekonomik Araçlar</a> </li>
                                            <li class="menu-item"> <a href="@Url.Action("Index","Vehicle",new { carClassName = Enum.GetName(typeof(CarClassEnum),CarClassEnum.Konfor) })">Konfor Araçlar</a> </li>
                                            <li class="menu-item"> <a href="@Url.Action("Index","Vehicle",new { carClassName = Enum.GetName(typeof(CarClassEnum),CarClassEnum.Lüx) })">Lüx Araçlar</a> </li>
                                        </ul>
                                    </li>
                                    <li class="menu-item menu-item-has-children">
                                        <a href="#">Hizmetler</a>
                                        <ul class="submenu custom">
                                            <li class="menu-item"> <a href="#">Yapım aşamasında</a> </li>
                                        </ul>
                                    </li>
                                    <li class="menu-item menu-item-has-children">
                                        <a href="#">Kiralama Şartları & Kapsam</a>
                                        <ul class="submenu custom">
                                            <li class="menu-item"> <a href="#">Yapım aşamasında</a> </li>
                                        </ul>
                                    </li>
                                    <li class="menu-item"> <a href="@Url.Action("Index","Contact")">İletişim</a> </li>
                                </ul>
                            </div>
                            <div class="hamburger-menu">
                                <div class="menu-btn"> <span></span> <span></span> <span></span> </div>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</header>