@model CarModelDTO
<!-- Horizontal form modal -->
<div id="modal_form_horizontal" class="modal fade" data-keyboard="false" data-backdrop="static" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"><i class="icon-bin mr-2"></i>Kayıt Sil</h5>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            @using (Html.BeginForm("Delete", "CarModel", FormMethod.Post, new { @class = "form-horizontal" }))
            {
                <div class="modal-body">
                    @Html.HiddenFor(x => x.Id)
                    <div class="form-group row p-2">
                        <div class="col-sm-12">
                            @Html.LabelFor(x => x.Name)
                            @Html.TextBoxFor(x => x.Name, new { placeholder = "Kayıt giriniz...", @class = "form-control", required = "required", @readonly = "readonly" })
                        </div>
                    </div>
                    <div class="form-group row p-2">
                        <div class="col-sm-6 mb-2 mb-sm-0 mb-md-0 mb-lg-0 mb-xl-0">
                            @Html.LabelFor(x => x.CarBrandName)
                            @Html.TextBoxFor(x => x.CarBrandName, new { placeholder = "Kayıt giriniz...", @class = "form-control", required = "required", @readonly = "readonly" })
                        </div>
                        <div class="col-sm-6">
                            @Html.LabelFor(x => x.CarClassName)
                            @Html.TextBoxFor(x => x.CarClassName, new { placeholder = "Kayıt giriniz...", @class = "form-control", required = "required", @readonly = "readonly" })
                        </div>
                    </div>
                    <div class="form-group row p-2">
                        <div class="col-sm-6 mb-2 mb-sm-0 mb-md-0 mb-lg-0 mb-xl-0">
                            @Html.LabelFor(x => x.CarTypeName)
                            @Html.TextBoxFor(x => x.CarTypeName, new { placeholder = "Kayıt giriniz...", @class = "form-control", required = "required", @readonly = "readonly" })
                        </div>
                        <div class="col-sm-6">
                            @Html.LabelFor(x => x.CarChassisTypeName)
                            @Html.TextBoxFor(x => x.CarTypeName, new { placeholder = "Kayıt giriniz...", @class = "form-control", required = "required", @readonly = "readonly" })
                        </div>
                    </div>
                    <div class="form-group row p-2">
                        <div class="col-sm-6 mb-2 mb-sm-0 mb-md-0 mb-lg-0 mb-xl-0">
                            @Html.LabelFor(x => x.CarFuelTypeName)
                            @Html.TextBoxFor(x => x.CarChassisTypeName, new { placeholder = "Kayıt giriniz...", @class = "form-control", required = "required", @readonly = "readonly" })
                        </div>
                        <div class="col-sm-6">
                            @Html.LabelFor(x => x.CarGearTypeName)
                            @Html.TextBoxFor(x => x.CarFuelTypeName, new { placeholder = "Kayıt giriniz...", @class = "form-control", required = "required", @readonly = "readonly" })
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <a href="@Url.Action("Cancel")" class="btn btn-outline-danger" data-dismiss="modal"><i class="icon-cancel-square2 mr-2"></i> İptal</a>
                    <button type="submit" class="btn btn-success"><i class="icon-bin mr-2"></i> Sil</button>
                </div>
            }
        </div>
    </div>
</div>
<!-- /horizontal form modal -->

<script>
        $(() => {

            $(document).ready(() => {
                $('#modal_form_horizontal').modal('show');

                $('#modal_form_horizontal').on('hidden.bs.modal', (e) => window.location.href = '@Url.Action("Cancel")');
            });

        })
</script>