@model FiloViewModel

<section class="section-padding car-booking ml-sm-0 ml-md-5 mt-5 mr-sm-0 mr-md-5 mb-sm-0 mb-md-5 pt-4">
    <div class="container-fluid">
        <div class="section-header text-center">
            <div class="section-heading mw-100 w-100 pl-2 pr-2">
                <div class="copyright">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-12">
                                <p class="fs-18 fw-600 text-custom-black">@Model.carClassName Kiralık Araçlar</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            @if (Model.carViewModels.Count == 0)
            {
                <div class="col-12 text-center text-custom-black fs-16 fw-600 text-capitalize">Aradığınız kriterlerde araç bulunamamıştır.</div>
            }
            else
            {
                @foreach (var carViewModel in Model.carViewModels)
                {
                    <div class="col-sm-12 col-md-12 col-lg-6 col-xl-3">
                        <div class="car-grid m-2 border">
                            <div class="car-grid-wrapper car-grid bx-wrapper">
                                <div class="image-sec animate-img"> <img src="/images/@carViewModel.ImageUrl" class="full-width" alt="img"> </div>
                                <div class="car-grid-caption padding-20 bg-custom-white p-relative">
                                    <p class="title fs-16"><div class="text-custom-black fs-16 fw-600">@carViewModel.CarBrandName <small class="text-light-dark fs-16">@carViewModel.CarModelName</small></div></p>
                                    <div class="hotel-type mb-xl-20">
                                        <div class="tabs">
                                            <ul class="custom-flex nav nav-tabs mb-xl-20 w-100">
                                                <li class="nav-item p-0 m-0 w-50"> <a class="nav-link p-1 m-0 active" data-toggle="tab" href="#overview_@carViewModel.Id">Araç Özellikleri</a> </li>
                                                <li class="nav-item p-0 m-0 w-50"> <a class="nav-link p-1 m-0" data-toggle="tab" href="#amenities_@carViewModel.Id">Kiralama Koşulları</a> </li>
                                            </ul>
                                            <div class="tab-content">
                                                <div class="tab-pane fade active show" id="overview_@carViewModel.Id">
                                                    <div class="tab-inner">
                                                        <ul class="custom">
                                                            <li class="text-light-dark mb-2">
                                                                <div class="row">
                                                                    <div class="col-4 pr-0">
                                                                        <i class="icon-stars mr-2"></i><span class="text-custom-black fw-600">Araç Sınıfı</span>
                                                                    </div>
                                                                    <div class="col-8 pl-0">
                                                                        <span class="mr-3">:</span>@carViewModel.CarClassName
                                                                    </div>
                                                                </div>
                                                            </li>
                                                            <li class="text-light-dark mb-2">
                                                                <div class="row">
                                                                    <div class="col-4 pr-0">
                                                                        <i class="icon-alignment-unalign mr-2"></i><span class="text-custom-black fw-600">Kasa Tipi</span>
                                                                    </div>
                                                                    <div class="col-8 pl-0">
                                                                        <span class="mr-3">:</span>@carViewModel.CarChassisTypeName
                                                                    </div>
                                                                </div>
                                                            </li>
                                                            <li class="text-light-dark mb-2">
                                                                <div class="row">
                                                                    <div class="col-4 pr-0">
                                                                        <i class="icon-gas mr-2"></i><span class="text-custom-black fw-600">Yakıt Türü</span>
                                                                    </div>
                                                                    <div class="col-8 pl-0">
                                                                        <span class="mr-3">:</span>@carViewModel.CarFuelTypeName
                                                                    </div>
                                                                </div>
                                                            </li>
                                                            <li class="text-light-dark mb-2">
                                                                <div class="row">
                                                                    <div class="col-4 pr-0">
                                                                        <i class="icon-cogs mr-2"></i><span class="text-custom-black fw-600">Vites Türü</span>
                                                                    </div>
                                                                    <div class="col-8 pl-0">
                                                                        <span class="mr-3">:</span>@carViewModel.CarGearTypeName
                                                                    </div>
                                                                </div>
                                                            </li>
                                                            <li class="text-light-dark mb-2">
                                                                <div class="row">
                                                                    <div class="col-4 pr-0">
                                                                        <i class="icon-heart5 mr-2"></i><span class="text-custom-black fw-600">Güvenlik</span>
                                                                    </div>
                                                                    <div class="col-8 pl-0">
                                                                        <span class="mr-3">:</span>Yolcu Airbag - ABS
                                                                    </div>
                                                                </div>
                                                            </li>
                                                            <li class="text-light-dark mb-2">
                                                                <div class="row">
                                                                    <div class="col-4 pr-0">
                                                                        <i class="icon-meter-fast mr-2"></i><span class="text-custom-black fw-600">Toplam KM</span>
                                                                    </div>
                                                                    <div class="col-8 pl-0">
                                                                        <span class="mr-3">:</span>@carViewModel.TotalKm
                                                                    </div>
                                                                </div>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="tab-pane fade" id="amenities_@carViewModel.Id">
                                                    <div class="tab-inner">
                                                        <ul class="custom">
                                                            <li class="text-light-dark mb-2">
                                                                <div class="row">
                                                                    <div class="col-4 pr-0">
                                                                        <i class="icon-height mr-2"></i><span class="text-custom-black fw-600">Yaş Sınırı</span>
                                                                    </div>
                                                                    <div class="col-8 pl-0">
                                                                        <span class="mr-3">:</span>@carViewModel.AgeLimit
                                                                    </div>
                                                                </div>
                                                            </li>
                                                            <li class="text-light-dark mb-2">
                                                                <div class="row">
                                                                    <div class="col-4 pr-0">
                                                                        <i class="icon-newspaper mr-2"></i><span class="text-custom-black fw-600">Ehliyet</span>
                                                                    </div>
                                                                    <div class="col-8 pl-0">
                                                                        <span class="mr-3">:</span>@carViewModel.DriverLicense
                                                                    </div>
                                                                </div>
                                                            </li>
                                                            <li class="text-light-dark mb-2">
                                                                <div class="row">
                                                                    <div class="col-4 pr-0">
                                                                        <i class="icon-credit-card2 mr-2"></i><span class="text-custom-black fw-600">Kredi Kartı</span>
                                                                    </div>
                                                                    <div class="col-8 pl-0">
                                                                        <span class="mr-3">:</span>1 Kredi Kartı
                                                                    </div>
                                                                </div>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <span><button class="btn-first btn-submit full-width btn-height">Hemen Kirala</button></span>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</section>










