@model string

@{
    string[] urlParameters = this.ViewContext.ModelState.Keys.ToArray();
    string[] urlParameterValues = this.ViewContext.ModelState.Values.Select(x => x.RawValue.ToString()).ToArray();

    string startDateParameter = null;
    string startHourParameter = null;
    string endDateParameter = null;
    string endHourParameter = null;

    for (int index = 0; index < urlParameters.Count(); index++)
    {
        if (urlParameters[index] == "startDate")
            startDateParameter = urlParameterValues[index];
        if (urlParameters[index] == "startHour")
            startHourParameter = urlParameterValues[index];
        if (urlParameters[index] == "endDate")
            endDateParameter = urlParameterValues[index];
        if (urlParameters[index] == "endHour")
            endHourParameter = urlParameterValues[index];
    }
}

<header class="header-non-hamburger">
    <div class="navigation-wrapper bg-red">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav>
                        <div class="main-navigation">
                            <div class="main-menu">
                                <ul class="custom-flex">
                                    <li class="menu-item text-center w-25 ml-0 mr-0 @(Model=="Tüm" ? "active" : string.Empty)"><a href="@Url.Action("Index","Vehicle",new { startDate = startDateParameter, startHour = startHourParameter, endDate = endDateParameter, endHour = endHourParameter })">Tümü</a></li>
                                    <li class="menu-item text-center w-25 ml-0 mr-0 @(Model=="Ekonomik" ? "active" : string.Empty)"><a href="@Url.Action("Index","Vehicle",new { carClassName = Enum.GetName(typeof(CarClassEnum),CarClassEnum.Ekonomik),startDate = startDateParameter, startHour = startHourParameter, endDate = endDateParameter, endHour = endHourParameter })">Ekonomik</a></li>
                                    <li class="menu-item text-center w-25 ml-0 mr-0 @(Model=="Konfor" ? "active" : string.Empty)"><a href="@Url.Action("Index","Vehicle",new { carClassName = Enum.GetName(typeof(CarClassEnum),CarClassEnum.Konfor),startDate = startDateParameter, startHour = startHourParameter, endDate = endDateParameter, endHour = endHourParameter })">Konfor</a></li>
                                    <li class="menu-item text-center w-25 ml-0 mr-0 @(Model=="Lüx" ? "active" : string.Empty)"><a href="@Url.Action("Index","Vehicle",new { carClassName = Enum.GetName(typeof(CarClassEnum),CarClassEnum.Lüx),startDate = startDateParameter, startHour = startHourParameter, endDate = endDateParameter, endHour = endHourParameter })">Lüx</a></li>
                                </ul>
                            </div>
                            <div class="hamburger-menu">
                                <div class="menu-btn"> <span></span> <span></span> <span></span> </div>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</header>